body {
  font-family: Poppins, sans-serif;
  padding-top: 81px;
  margin: 0;
}
p,
h1 {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
* {
  font-family: Poppins,sans-serif;
}
button {
  cursor: pointer;
}
li, a, button {
    font-family:Poppins, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    list-style: none;
}
ul {
  text-decoration: none;
  list-style: none;
}

.header {
  height: 82px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 108px;

  /* background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228); */

}

/* .upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.upload-icon-container:hover .tooltip {
  opacity: 1;
} */
.item-content__icon[data-v-cfaf17ac] {
  margin: 2px 6.5px;
  transition: transform .3s;
}
.block-header-cart__icon[data-v-2e952452] {
  width: var(--cartIconSize);
  height: var(--cartIconSize);
  margin-right: 6px;
}

.logo-section {
  display: flex;
  align-items: center;
  /* background-color: lightblue; */
}
.logo-section:hover,
.nav_link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.right-section {
  /* background-color: lightcoral; */
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.nav_link {
  margin-right: 40px;
  font-size: 1.125rem;
  /* font-stretch: ultra-condensed|extra-condensed|condensed|semi-condensed|normal|semi-expanded|expanded|extra-expanded|ultra-expanded|initial|inherit; */
}

.headline {
  min-height: 80vh;
  position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 2%;
  padding: 0;
  color: #fff;
}

.h1_headline {
  font-size: 6rem;
  font-weight: 400;
  text-align: center;

}.p_headline {
  font-size: 1.2rem;
}
.button_headline_design {
    font-size: 1rem;
    color: rgb(77, 44, 87);
    padding: 14px 36px;
    border: 2px;
    margin-top: 3rem;
    margin-bottom: 10%;
}
.button_headline_design:hover {
    background-color: rgb(237, 237, 238);
    transition: 0.15ms ease;
}
.input_headline {
    color: #000;
    padding: 16px 56px 16px 16px;
    margin-top: 2%;
    margin-bottom: 0.5%;
    font-size: 0.9rem;
    background: rgba(255, 255, 255, 0.466);
    border: none;
    outline: none;
    width: 30%;
}

.bestseller_title h1 {
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 3rem 0;
  font-size: 3rem;
  font-weight: 500;
  color: rgb(77, 44, 87);
  width: auto;
  text-align: center;
}
.bestseller_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 36px;
  margin: 2%;
}
.button_bestseller_design {
  font-size: 1rem;
  color: rgb(77, 44, 87);
  padding: 14px 36px;
  margin-top: 3rem;
  margin-bottom: 10%;
  border: 2px solid #4D2C57;
}
.button_bestseller_design:hover {
  background-color: #4D2C57;
  color: white;
  transition: 0.15s ease;
}

/* GRID SYSTEM */

.thumbnail {
  width: 100%;
}

.image-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.image-price {
  font-size: 1.1rem;
}
.image-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-info p{
  margin: 8%;
}

.thumbnail-row {
  position: relative;
  margin: 10px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin: 10px 50px 50px 50px;
  color: rgb(77, 44, 87);
}

/* SHOP GRID */

.shop-thumbnail {
  width: 100%;
  height: 360px;
}

.shop-image-title {
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 20px;
  text-align: center;
}
.shop-image-price {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.shop-image-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#000;
}
.thumbnail-row {
  position: relative;
  margin: 10px;
}

.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  column-gap: 16px;
  row-gap: 40px;
  margin: 10px 50px 50px 50px;
  color: rgb(77, 44, 87);
}

/* new grid for headline 2 */
.thumbnail {
  width: 100%;
}

.headline_2-grid .thumbnail {
  margin: -10px;
  padding: 0;
}

.headline_2-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.headline_2-price {
  font-size: 1.1rem;
}
.headline_2-info-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.headline_2-info p{
  margin: 5% 0 5% 0;
}

.thumbnail-row {
  position: relative;
  margin: 0;
  margin-right: 10% ;
}

.headline_2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin: 10% 50px 50px 50px;
  color: rgb(77, 44, 87);
}

.learn_button_design {
  font-size: 1rem;
  color: rgb(77, 44, 87);
  padding: 14px 36px;
  margin: 2% 0 10% 0;
  border: 2px solid #4D2C57;
}
.learn_button_design:hover {
  background-color: #4D2C57;
  color: white;
  transition: 0.15s ease;
}

.ig-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin: 1% 50px 1% 50px;
  color: rgb(77, 44, 87);
}

.ig-username p {
  margin-top: 0;
  margin-bottom: 6%;
  padding: 3rem 0;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 500;
  color: rgb(77, 44, 87);
  width: auto;
  text-align: center;
}
.ig-username p:hover {
  cursor: pointer;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px){
  .about-box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}
.thumbnail-about {
  width: 100%;
  height: auto;
}
.thumbnail-about {
  padding: 0 5% 0 5%;
}
.thumbnail-info {
  padding: 0 5% 5% 10%;
  color: rgb(77, 44, 87);
  line-height: 2rem;
}
@media (max-width: 1100px){
  .thumbnail-about {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 320px){
  .thumbnail-info {
    min-width: 20%;
    margin: 5%;
  }
  .thumbnail-about {
    width: 70%;
    height: auto;
  }
}
.info-color-2 {
  color: #f6f7f6;
}

.thumbnail-info h2 {
  color: rgb(77, 44, 87);
  font-size: 3rem;
  font-weight: 500;
}
footer {
    color: rgb(26, 26, 26);
}
footer li {
    text-decoration: underline;
    list-style: none;
}
footer .nav__links, footer .nav__links_2 {
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    padding-top: 5%;
  	color: rgb(26, 26, 26);
}

.nav__links_2 {
    margin-top: -5%;
}
.nav__links_2 li {
    margin-top: -5%;
    margin-bottom: 20%;
    background-color: rgb(241, 241, 241);
    padding: 1px 1px 1px 1px;
	color: rgb(26, 26, 26);
}
.soc_nav_links li {
    display: flex;
    list-style: none;
    background-color: rgb(241, 241, 241);
}
.logo {
    cursor: pointer;
}
.nav__links, .nav__links_2 {
    list-style: none;
}
.nav__links li, .nav__links_2 li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a, .nav__links_2 li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    text-decoration: underline;
}
.active__page{
    text-decoration: underline;
    text-decoration-color: #000;
    text-underline-offset: 0.5rem;
}
.shop-main {
  margin: 5% 0 10% 0;
}
.svg-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .91rem;
  margin-bottom: 10%;
  color: rgb(107, 106, 106);
}
.svg-icon {
  margin: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.sort-shop {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  right: 7%;
  z-index: 999;
  font-size: .91rem;
  color: rgb(107, 106, 106);
  text-transform: uppercase;
  margin-top: -3%;
}

.about-mina-intro {
  margin: 4%;
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-mina-p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(77, 44, 87);
  text-align: center;
  max-width: 50%;
}

.ig-username p {
  margin-top: 0;
  margin-bottom: 6%;
  padding: 3rem 0;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 500;
  color: rgb(77, 44, 87);
  width: auto;
  text-align: center;
}

.about-con {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-con > img {
  height: 50%;
  max-width: 50%;
}
.about-style-1 {
  background-color:#f6f7f6;
}
.about-style-2 {
  background-color: #fd925c;
}

.contact-us-container {
  display: grid;
  grid-template-areas: 
  "head foot foot"
  "main foot foot";
  gap: 5rem;
  margin: 10% 4% 10% 4%;
  color: #4D2C57;
  line-height: 2rem;
}
.contact-us-container h2 {
  font-size: 2rem;
  font-weight: 500;
}
.contact-us-container p {
  font-size: 1.1rem;
}
.contact-1 {
  grid-area: head;
}
.contact-2 {
  grid-area: main;
}
.contact-3 {
  grid-area: foot;
}
.contact-form {
  color: black;
}

.contact-form > input, textarea {
  color: #000;
  padding: 16px 56px 16px 16px;
  margin-bottom: 3%;
  font-size: 0.8rem;
  background: #f1f1f1;
  border: none;
  outline: none;
  width: auto;
}
textarea {
  resize: vertical;
}
form {
display: grid;
}
input::placeholder{
  color:#8e8e8e;
}

.contact-button_design {
  font-size: 1rem;
  color: rgb(77, 44, 87);
  padding: 14px 36px;
  border: 2px solid #4D2C57;
  width: 8rem;
  background-color: #fff;
  margin-top: 2%;
}
.contact-button_design:hover {
  background-color: #4D2C57;
  color: white;
  transition: 0.15s ease;
}

@media (min-width: 1200px) {
  .header {
    margin-right: -50px;
  }
} 
@media (max-width: 1199px) {
  .headline h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1000px) and (max-width: 1150px) {
  .headline h1 {
    font-size: 5rem;
  }
}
@media (min-width: 880px) and (max-width: 999px) {
  .headline h1 {
    font-size: 4.5rem;
    font-weight: 500;
  }
}
@media (min-width: 770px) and (max-width: 879px) {
  .headline h1 {
    font-size: 4rem;
    font-weight: 500;
  }
}
@media (min-width: 580px) and (max-width: 769px) {
  .headline h1 {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media (min-width: 500px) and (max-width: 579px) {
  .headline h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .headline h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .headline p {
	font-size: 1rem;
  }
}

/* GRID SYSTEM */

@media (max-width: 499px) {
  .home-grid,
	.headline_2-grid, .ig-grid	{
    grid-template-columns: 1fr;
  }
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .contact-us-container {
    display: inline;
  }
  .contact-us-container > div {
    margin: 5%;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .home-grid,
	.headline_2-grid, .ig-grid	{
    grid-template-columns: 1fr;
  }
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .contact-us-container {
    display: inline;
  }
  .contact-us-container > div {
    margin: 5%;
  }
}

@media (min-width: 700px) and (max-width: 750px) {
  .home-grid {
    grid-template-columns: 1fr 1fr;
  }
  .headline_2-grid, .ig-grid {
    grid-template-columns: 1fr;
  }
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .contact-us-container {
    display: inline;
  }
  .contact-us-container > div {
    margin: 5%;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .headline_2-grid {
    grid-template-columns: 1fr;
  }
  .ig-grid, .shop-grid {
	  grid-template-columns: 1fr 1fr;
  }
  .contact-us-container {
    display: inline;
  }
  .contact-us-container > div {
    margin: 5%;
  }
}

@media (min-width: 1000px) {
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .ig-grid, .shop-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .headline_2-grid {
    grid-template-columns: 1fr 1fr;
  }
}


/* END OF GRID SYSTEM */